{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block meta %}
    <title>Pan-Pan Little Shop</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock meta %}

<body>
    <div class="top-bar">
        <img src="{% static '/assets/logo/icon_horizontal.png' %}" alt="Panda Icon">
        <a href="{% url 'main:add_product' %}"><button>Add Product</button></a>
    </div>
    <div class = "main-content">
        <div class="container">
        {% if not products %}
            <p>No product currently available in Pan-Pan Little Shop.</p>
        {% else %}
            {% for product in products %}
                    <div class="cards">
                        <img src="{% static '/assets/logo/panda_icon.png' %}" alt="Product 1">
                        <div class="product-description">
                            <p style="font-weight: bold; font-size: 25px; text-align: center;">
                                {{ product.name }}
                            </p>
                            <p style="font-weight: 50%; font-size: 12px; text-align: center;">
                                {{ product.description }}
                            </p>  
                            <p style="font-weight: 50%; font-size: 20px">
                                {{ product.price }}
                            </p>      
                            <p style="font-weight: 50%; font-size: 12px">
                                Remaining Stock: {{ product.stock }}
                        </div>
                    </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    <div>
        <a href="{% url 'main:logout' %}">
            <button>Logout</button>
        </a>
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>  
    <div class="footer">
        <p>
            Pan-Pan Little Shop by Alexander William Lim - 2306207505 - PBP F
        </p>
    </div>
</body>
{% endblock content %}